:root{
    --PT_Sans: 'PT Sans', sans-serif;
    --Playfair: 'Playfair Display', serif;
}

.but{
    width: 136px;
    height: 80px;
    text-align: center;
    font-size: 14px;
}

.but_png{
    width: 62px;
    height: 80px;
    text-align: center;
}

.small_head{
    background-color: black;
    color: #969696;
    font-family: var(--PT_Sans);
}
.block1{
    background-color: #0F0F0F;
    color: white;
    font-family: var(--PT_Sans);
}

.bg-black{
    background-color:black ;
}
.bg-whitly-black{
    background-color: #0F0F0F;
}

.px1289{
    height: 1289px;
}

.ggg{
    background-image: url("/png/bg1.png");
    background-color: aqua;
}
.vvv{
    background-color: aquamarine;
    background-image: url("/png/PORTEN.png");
}